*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*page top*/

section.top{
    padding: 25px;
}

nav.top-menu{
    position: absolute;
    right: 25px;
}

ul.right{
    display: flex;
    flex-direction: row;
}

li.menu-top{
    list-style-type: none;

    padding: 0px 10px 0px 10px;
}

li.menu-top:last-child{
    width: 32px;
    height: 32px;

    padding: 0;

    border-radius: 32px;

    background-color: indigo;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: black;   
}

a:hover{
    text-decoration: underline;
}

div.grid-container{
    cursor: pointer;

    display: grid;
    grid-template-columns: auto auto auto ;
}

div.grid-container:hover{
    background-color: rgb(20, 20, 20);
    
}

div.grid-item{
    box-sizing: content-box;

    width: 5px;
    height: 5px;

    padding: 0.001px;
    margin: 1px;

    background-color: grey;
}

svg{
    cursor: pointer;
    
    padding: 0px 10px 0px 10px;

    color: grey;
}

svg:hover{
    color: rgb(20, 20, 20);
}

/***************************/