:root{
    --footer-grey:rgb(131, 131, 131);
}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*page top*/

section.top{
    padding: 22px;
}

nav.top-menu{
    position: absolute;
    right: 25px;
}

ul.right{
    display: flex;
    flex-direction: row;
}

li.menu-top{
    list-style-type: none;

    padding: 0px 10px 0px 10px;
}

li.menu-top:last-child{
    cursor: pointer;

    width: 32px;
    height: 32px;

    padding: 0;
    margin-top: -5px;
    margin-left: 10px;

    border-radius: 32px;

    background-image: url("../images/Imagemmarcoscurriculo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: black;   
}

a:hover{
    text-decoration: underline;
}

div.grid-container{
    cursor: pointer;

    display: grid;
    grid-template-columns: auto auto auto ;
}

div.grid-container:hover{
    background-color: rgb(20, 20, 20);
    
}

div.grid-item{
    box-sizing: content-box;

    width: 5px;
    height: 5px;

    padding: 0.001px;
    margin: 1px;

    background-color: grey;
}

svg{
    cursor: pointer;
    
    padding: 0px 10px 0px 10px;

    color: grey;
}

svg:hover{
    color: rgb(20, 20, 20);
}

li a.image-fundo{
    cursor: pointer;

    width: 32px;
    height: 32px;

    padding: 0;
    margin-top: -5px;
    margin-left: 10px;

    border-radius: 32px;

    background-image: url("../images/Imagemmarcoscurriculo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/**************Main*************/

main{
    width: 100%;
    height: 100%;

    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;

    padding: 120px 100px 10px 100px;

    margin: 0 auto;

    align-items: center;

}

img{
    width: 272px;
    height: 92px;

    padding-bottom: 25px;

}

input[type="search"]{
    width: 550px;
    height: 44px;

    box-sizing: content-box;
    
    padding-left: 50px;

    border: 1px solid rgba(156, 156, 156, 0.411);
    border-radius: 30px;
    outline: none;


}

input[type="search"]:hover{
    box-shadow: 1px 1px 4px 1px rgba(143, 143, 143, 0.342);
}

div.two-boxes{
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    padding: 36px;

    align-items: center;

    font-size: 14px;
    color: rgb(82, 81, 81);
}

span.box1{
    cursor: pointer;

    padding: 10px 16px ;
    margin: 0px 6px 0px 6px;

    border-radius: 2px;

    background-color: #f8f9fa;

    transition: 0.25s;
}

span.box1:hover{
    box-shadow: 0.25px 0.5px 0.15px 1px rgba(128, 128, 128, 0.568);
    
}

p.p1{
    font-size: 13px;
}

a.sub-text-box{
    color: #1a0dab;
}

/*****************footer******************/

footer{
    width: 100%;

    position: absolute;
    bottom: 0px;

}

.foot1{
    background-color: #f2f2f2;

    padding: 10px 0px;
    
    border: 1px solid rgba(199, 199, 199, 0.788);
    border-bottom: 0px;
}

a.link-brazil{
    padding-left: 25px;

    color:var(--footer-grey);
}

.box-nav1 nav ul{
    display: flex;
    flex-direction: row;
}

.box-nav1 nav ul li{
    list-style-type: none;

    padding-left: 25px;
}

.box-nav1 nav ul li a{
    color: var(--footer-grey);
}